.App {
  text-align: center;
}
.Gelas{
  text-align:center;
}
.box{
  margin: 1em;
  padding: 2em;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .75)
}
.logo-xe{
 height: 10vh;
}
.handphone {
  
  /* background-color: dimgrey; */
  flex:1;
  width: 15px;
  box-sizing: border-box;
  margin: auto;
  
  
}
.tulisan{
  margin-bottom: 1em;
}

button{
  
  border-radius:16px;
  background-color:  skyblue ;
	border:1px solid #29668f;
  margin: auto;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
  padding:5px 20px;
  flex: 1;
  
  
}

header {
  display:flex;
  width: 100%;
  height:10vh;
  padding: 0cm;
  align-items: center;
  background-color: #0A136E;
}
.sticky{
  position: fixed;
 
}
.logo-container,
.nav-links,
.cart {
  display: flex;
}
.logo-container {
  flex:1;
  /* background-color:coral; */
}
.nav-links {
  justify-content:space-around;
  list-style: none;
}
.nav-link {
  font-size: 18px;
  text-decoration: none;  
}
.text-white{
  color:white;
}

nav {
  flex:1;
  
  /* background-color: blueviolet; */
}
.sticky + body{
  padding: 60px;
}
body{
  font-family: 'Poppins', sans-serif;
}


